.text--medium {
  font-size: 3vmax;
}
.text--paragraph {
  font-size: 2vmax;
  color: #e0dfe1;
}

.App {
  position: relative;
  scroll-behavior: smooth;
  text-align: center;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Brandon Grotesque Medium";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.page--light {
  --main-light-color: #f9f8fa;
  background: var(--main-light-color);
}

.page--dark {
  --main-dark-color: #323232;
  background: var(--main-dark-color);
  color: var(--main-light-color);
}

/* FONTS */

@font-face {
  font-family: "Brandon Grotesque Black";
  src: url("Brandon_Grotesque/Brandon_blk.otf");
}
@font-face {
  font-family: "Brandon Grotesque Bold";
  src: url("Brandon_Grotesque/Brandon_bld.otf");
}
@font-face {
  font-family: "Brandon Grotesque Medium";
  src: url("Brandon_Grotesque/Brandon_med.otf");
}
@font-face {
  font-family: "Brandon Grotesque Regular";
  src: url("Brandon_Grotesque/Brandon_reg.otf");
}
@font-face {
  font-family: "Brandon Grotesque Light";
  src: url("Brandon_Grotesque/Brandon_light.otf");
}
@font-face {
  font-family: "Brandon Grotesque Thin";
  src: url("Brandon_Grotesque/Brandon_thin.otf");
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  background: var(--main-light-color);
}
body {
  margin: 0;
  padding: 0;
  overflow: visible;
}
ul {
  list-style: none;
}
a {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  color: var(--main-dark-color) !important;
  outline: 0;

}
a:hover {
  color:inherit !important;
  text-decoration: none !important;
}
img {
  width:100%;
}

#convas--container {
  position: relative;
}
#canvas {
  position: absolute;
  max-width: 100vw;
  overflow: hidden;
  background: var(--main-light-color);
}
/* HOME */

.home {
  position: fixed;
  z-index: 999;
  top: 50px;
  left: 50px;
}
.home-icon {
  color: var(--main-dark-color);
  font-size: 3rem;
  transition-duration: 0.5s;
}

#page-0 {
  display: grid;
  align-content: center;
  grid-template-rows: 1fr auto;
}
/* MENU */
.menu-wrapper {
  margin: auto;
}
.presentation {
  text-align: left;
  padding: 0 10%;
}
.presentation-text {
  font-size: 6vmax;
}
.menu {
  text-align: center;
  display: block;
  left:0;
  right: 0;
  bottom: 10rem;
}
.menu-list {
  padding: 0;
  font-size: 0;
}
.menu-list-item {
  border-bottom: 0.2rem solid #3c3f41;
  display: inline-block;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-bottom: 0.5rem;
  color: var(--main-dark-color);
  font-size: 1.7rem;
  font-family: "Brandon Grotesque Light";
  text-transform: uppercase;
}
.menu-list-item a {
  color: var(--main-dark-color);
  text-decoration: none;
}
.menu-list-item a:hover {
  color: #5574d5;
  transition-duration: 500ms;
}
.menu-icon {
  padding: 10rem 0 5rem;
}
.menu-icon-arrow {
  display: inline-block;
  font-size: 3rem;
  color: var(--main-dark-color);
  width: 100px;

}

/* WORK */
.work-grid-list-item {
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  text-shadow: 1px 1px 5px var(--main-dark-color);
}
.work-grid-list-item img {
  height: 100%;
  object-fit: cover;
}
/* Work, on hover, detailed description of the project */

#carouselOverlay{
  background-color:white;
  position:fixed;
  top:0;
  left:0;
  z-index: 1000;
  width: 100vw;
  height: fit-content;
  overflow: scroll;
  padding: 50px 50px 50px 70px;
  transform: translateX(0vw);
  transition: ease 1s;
}
/*#carouselOverlay::-webkit-scrollbar {*/
/*  display: none;*/
/*}*/

.backIcon {
  position: fixed;
  top: 5vh;
  left: 5vw;
  font-size: 4rem;
  z-index: 1000;
}

.work-hover {
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: scroll;
}
.work-hover-text-title {
  color: var(--main-dark-color);
  font-size: 8em;
  text-decoration: underline;
}
.work-hover-text-content {
  margin: 20px 0 50px 0;
  padding: 0 0 100px 0;
  color: var(--main-dark-color);
  font-family: "Brandon Grotesque Regular";
  font-size: 2em;
}
.work-hover-text-content-im {
  display: block;
  margin: 50px auto 50px auto;
  width: 400px;
}
.work-hover-text-content-link {
  color: var(--main-dark-color);
  opacity: 0.7;
  margin: auto;
}


/* BLOG */

.blog {
  background: var(--main-light-color);
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.blog-container {
  position: absolute;
  width:100%;
  height:98%;
}
.blog-container-text {
  padding-top: 200px;
  color: var(--main-dark-color);
  font-size: 8rem;
}

/* ABOUT */
#page-3 {
  display: grid;
  align-items: center;
}
.about-container {
  color: #dcdbdd;
  position: relative;
  display: grid;
  text-align: left;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: auto;
}
.about-text {
  display: grid;
  grid-gap: 2rem;
  padding-left: 5vw;
  font-size: 2vmax;
}
.about-container a {
  color: var(--main-light-color) !important;
}
.about-logos-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5vw;
  font-size: 2vmax;
}
.about-photo {
  position: absolute;
  top: -10vh;
  right: 0vw;
  width: 60vmax;
}

/* MOBILE CSS */

@media only screen and (max-width: 768px) {
  .about-container {
    grid-template-columns: 1fr;
    grid-gap: 3rem;
  }
  .about-text {
    font-size: 3vmax;
  }
  .about-logos-container {
    font-size: 3vmax;
  }
}
